*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  margin-top: 4rem;
  text-align: center;
}
.title{
  font-size: .8rem;
  padding: 1rem;
}
.name{
  font-size: 1rem;
}
.card{
  padding: .5rem;
}
.Title__text{
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}