
@font-face {
  font-family: 'ObjectSans-Regular';
  src: local('ObjectSans-Regular'), url(./fonts/ObjectSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Supply-UltraLight';
  src: local('Supply-UltraLight'), url(./fonts/Supply-UltraLight.woff2) format('woff2');
}
@font-face {
  font-family: 'Supply-Regular';
  src: local('Supply-Regular'), url(./fonts/Supply-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Swiss721BT-BlackCondensed';
  src: local('Swiss721BT-BlackCondensed'), url(./fonts/Swiss721BT-BlackCondensed.woff2.woff) format('woff2');
}
@font-face {
  font-family: 'ABCMarfa-Light-Trial';
  src: local('ABCMarfa-Light-Trial'), url(./fonts/ABCMarfa-Light-Trial.woff2) format('woff2');
}
