*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  margin: 2rem;
}
.title{
  font-size: 1rem;
  padding: .5rem;
}
.name{
  font-size: .8rem;
  padding-bottom: 1rem;
}